.App {
  text-align: center;
  width: 100%;
}

.red {
  color: red;
}

.green {
  color: green;
}

.bold {
  font-weight: 400;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
